@model IEnumerable<SitePessoal.Models.Experiencia>

@{
    ViewData["Title"] = "Experiência Profissional";
}



<p>
    <a asp-action="Create">Criar nova entrada na Tabela</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExperienciaID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ExperienciaID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ExperienciaID">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
