@model IEnumerable<SitePessoal.Models.ExperienciaProfissional>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Criar nova entrada na tabela</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trabalho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Trabalho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExperienciaProfissionalId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ExperienciaProfissionalId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ExperienciaProfissionalId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
